Package: dwlab-backupclient
Version: 0.6.25
Section: dwlab
Priority: optional
Depends: dwlab-basicservices,cifs-utils,nfs-common,smbclient
Architecture: all
Essential: no
Maintainer: DW-Lab GmbH <monitoring@dw-lab.com>
Description: DW-Lab Backup Client
 These are the optional backup routines provided by DW-Lab GmbH.
